html, 
body {
    margin: 0;
    padding: 0;   
    //font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
};
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    //font-family: 'Roboto Slab', serif;
};
h1 {
  margin-left: 25px;
  font-size: 34px;
  text-transform: uppercase;
  position: relative;
}
h1::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100px;
  height: 2px;
  background-color: rgb(38,81,99);
}
@media (max-width: 1024px) {
  h1 {
    font-size: 28px;
  }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(38,81,99);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(38,81,99);
  }